Ejercicio4_a171300/Connected Services/Calculator/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cuadrado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Base" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cuadradoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cuadradoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="triangulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Base" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="altura" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="trianguloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="trianguloResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="circulo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="radio" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="circuloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="circuloResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="cuadradoSoapIn">
    <wsdl:part name="parameters" element="tns:cuadrado" />
  </wsdl:message>
  <wsdl:message name="cuadradoSoapOut">
    <wsdl:part name="parameters" element="tns:cuadradoResponse" />
  </wsdl:message>
  <wsdl:message name="trianguloSoapIn">
    <wsdl:part name="parameters" element="tns:triangulo" />
  </wsdl:message>
  <wsdl:message name="trianguloSoapOut">
    <wsdl:part name="parameters" element="tns:trianguloResponse" />
  </wsdl:message>
  <wsdl:message name="circuloSoapIn">
    <wsdl:part name="parameters" element="tns:circulo" />
  </wsdl:message>
  <wsdl:message name="circuloSoapOut">
    <wsdl:part name="parameters" element="tns:circuloResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cuadrado">
      <wsdl:input message="tns:cuadradoSoapIn" />
      <wsdl:output message="tns:cuadradoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="triangulo">
      <wsdl:input message="tns:trianguloSoapIn" />
      <wsdl:output message="tns:trianguloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="circulo">
      <wsdl:input message="tns:circuloSoapIn" />
      <wsdl:output message="tns:circuloSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cuadrado">
      <soap:operation soapAction="http://tempuri.org/cuadrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="triangulo">
      <soap:operation soapAction="http://tempuri.org/triangulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="circulo">
      <soap:operation soapAction="http://tempuri.org/circulo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cuadrado">
      <soap12:operation soapAction="http://tempuri.org/cuadrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="triangulo">
      <soap12:operation soapAction="http://tempuri.org/triangulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="circulo">
      <soap12:operation soapAction="http://tempuri.org/circulo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44382/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44382/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>